<div>
  <strong>Current count:</strong>&nbsp;<code>{{ count }}</code>
</div>

<div>
  <ng-container *ngIf="count === 0; else notZero">
    The count is zero.. :(
  </ng-container>
  <ng-template #notZero>
    The count is not zero!
  </ng-template>
</div>
<hr />
<div>
  <div><strong>Derived numbers:</strong></div>

  <ng-container [ngSwitch]="count">
    <div *ngSwitchCase="0">There are 0 numbers</div>
    <div *ngSwitchCase="1">There is only 1 number: <code>{{ count }}</code></div>
    <div *ngSwitchCase="-1">There is only 1 number: <code>{{ count }}</code></div>
    <div *ngSwitchDefault>
      There are multiple numbers
      <ul>
        <li *ngFor="let i of numbers"><code>{{ i }}</code></li>
      </ul>
    </div>
  </ng-container>
</div>
