<div>
  <strong>Current count:</strong>&nbsp;<code>{{ count() }}</code>
</div>

<div>
  @if (count() === 0) {
    The count is zero.. :(
  } @else {
    The count is not zero!
  }
</div>
<hr />
<div>
  <div><strong>Derived numbers:</strong></div>

  @switch (count()) {
    @case (0) {
      <div>There are 0 numbers</div>
    }
    @case (1) {
      <div>There is only 1 number: {{ count() }}</div>
    }
    @case (-1) {
      <div>There is only 1 number: {{ count() }}</div>
    }
    @default {
      <div>
        There are multiple numbers
        <ul>
          @for (i of numbers(); track i) {
            <li>{{ i }}</li>
          }
        </ul>
      </div>
    }
  }
</div>
